.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  flex-direction: column;
  width: 33%;
  box-sizing: border-box;
}

.post-item__body,
.post-item__title {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media screen and (max-width: 700px) {
  .post-item {
    width: 100%;
  }
}
